<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Login App">
    <meta name="author" content="nsprams@gmail.com">
    <title>Login test app</title>
    <!-- styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body>
 
<h1>Login and Upload!</h1>
 
 
 
This is a test website that I will be working on to create a working login app:
 
 
<h2>Login REST API</h2>
 
 
<h2>Upload a file</h2>
 
  </body>
</html>
